@charset "utf-8";
html, body, form, input, select, fieldset { font-size: 13px; font-family: Arial, Verdana, Tahoma; color: #000000; }
html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, li, dl, address { margin: 0px; padding: 0px; }
h1, h3, h4, h5, h6, pre, code { font-size: 13px; }
ul, ol { list-style: none; }
form label { cursor: pointer; }

address { font-style: normal; }
:link,:visited { text-decoration: none;  }
a img,:link img,:visited img {
	border: none;
	vertical-align: middle;
}
fieldset {border: none; }
.clear{
	clear:both;
}

body {
	background-color: #FFCC00;
        background-image: url("image/bgbg.png");
	
}
#main {
	width: 1000px;
	height: 620px;
	position: relative;
	}
#left {
	float:left;
	width:800px;
	height:570px;
        background-image: url("image/bgfomenu.png");
	
	}
#oldalmenu{
	float:left;
	width:150px;
	
	}
#lehetosegek{

    
	
	
	}
#right {
	float:right;
	width:200px;
	height:570px;
        background-image: url("image/bgleft.png");
        
	
	}
#reklam {
        alignment-baseline: central;
        width: 800px;
	height:50px;
	float:left;
        background-image: url("image/bgreklam.png");
}
#fomenu {
	width:800px;
	height:570px;
}
#logo {
        width: 200px;
	height:50px;
	float:right;
        background-image: url("image/bglogo.jpg");
        
        
}
#bejelentkezes {
	height: 300px;
	font-family: "Arial Black", Gadget, sans-serif;
	
	padding:20px;
        border-top: 1px;
	border-top-color: #009900;
	border-top-style: dotted;
        border-bottom: 1px;
        border-bottom-color: #009900;
	border-bottom-style: dotted;
	border-radius: 50px;
        
}
#kosar{
	padding: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	
	
	
}




#almenu{
        
	
	font-size: large;
	font-weight: bold;
        border-top: 1px;
	border-top-color: #009900;
	border-top-style: dotted;
        border-bottom: 1px;
        border-bottom-color: #009900;
	border-bottom-style: dotted;
	border-radius: 50px;
	padding:20px;
}
#regisztracio{
}

#reg{
    vertical-align: center;
}





	
	
